{% extends 'apigee-entity.html.twig' %}

{#
/**
 * @file
 * Generic theme implementation to display an Apigee entity.
 *
 * Drupal core does not yet provide a generic theme for entities therefore you
 * have to implement your own entity type specific theme. This will change
 * when http://dgo.to/2808481 gets fixed which will introduce a generic template
 * for entities with common preprocess functions and theme suggestions.
 *
 * Available variables:
 * - entity: The entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in an exception.
 *   See \Drupal\apigee_edge\Entity\EdgeEntityInterface for a full list of
 *   methods.
 * - label: The title of the entity.
 * - content: All rendered field items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - url: Direct URL of the current entity.
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 *
 * @see \Drupal\apigee_edge\Entity\EdgeEntityViewBuilder::getBuildDefaults()
 * @see \Drupal\Core\Entity\EntityViewBuilder::getBuildDefaults()
 * @see template_preprocess_apigee_entity()
 * @see https://www.drupal.org/project/drupal/issues/2808481
 *
 * @ingroup themeable
 */
#}

{% if entity.getEntityTypeId in ['developer_app', 'team_app'] %}
	{% set classes = [
		'apigee-entity--app',
		'apigee-entity--app--view-mode-' ~ view_mode|clean_class
	] %}
{% endif %}

{% set attributes = attributes.addClass(classes,'position-relative','card','smdp-app-details','rounded-0','shadow-none') %}

{% set appCredentials = content.credentials.primary_wrapper %}
{% set appCallbackUrl = content.callbackUrl %}
{% set appProducts = content.credentials.secondary_wrapper %}

{% block content %}
	{{ attach_library('sm_dev_portal_theme/apps-extend') }}

	<div class="card-header bg-transparent border-bottom px-0">
		<div class="row">
			<div class="col-12 col-lg-7">
				{% if content.displayName.0 %}
					<img src="{{ base_path ~ directory }}/assets/images/apps-logo.svg" class="d-none d-sm-inline-block mr-3 page-title-icon">
					<h3 class="card-title d-inline mb-0 text-primary">{{ content.displayName.0 }}</h3>
				{% endif %}

				{% if content.status.0 %}
					<div class="d-inline ml-1 mb-0">
						{% if content.status.0['#indicator_status'] == 'indicator_status_ok' %}
							<i class="fas fa-check-circle wrapper--status indicator-status-ok"></i>
						{% elseif content.status.0['#indicator_status'] == 'indicator_status_warning' %}
							<i class="fas fa-exclamation-circle wrapper--status indicator-status-warning"></i>
						{% elseif content.status.0['#indicator_status'] == 'indicator_status_error' %}
							<i class="fas fa-times-circle wrapper--status indicator-status-error"></i>
						{% endif %}
					</div>
				{% endif %}

				{% if content.description.0 %}
					<div class="card-text mt-3 mb-0">
						<p>{{ content.description.0 }}</p>
					</div>
				{% endif %}
			</div>

			<div class="col-12 col-lg-5 mt-3 mt-lg-0">
				<div class="btn-group float-lg-right">
					<a href="{{ path('entity.developer_app.collection_by_developer', {'user': user_id}) }}" class="btn btn-outline-primary rounded-sm mr-1">
						<i class="fas fa-arrow-left mr-1"></i> {{ ('Back to Apps List')|t }}
					</a>

					<button type="button" class="btn btn-outline-primary rounded-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="sr-only">Toggle Dropdown</span>
					</button>

					<div class="dropdown-menu dropdown-menu-right rounded-0">
						{% for tabs in additional_tabs %}
							<a href="{{ tabs.url }}" class="dropdown-item">{{ tabs.title }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card-body py-5 px-0">
		<div class="row">
			{% if appCredentials.consumerKey %}
				<div class="col-12 col-md-6 col-lg-5 col-xl-4 mb-3">
					<fieldset class="fieldset-app-consumer-key">
						{{ appCredentials.consumerKey.label }}

						<div class="item-property">
							<div class="consumer--secret" data-secret-type="consumerKey">
								<span class="secret__value">{{ appCredentials.consumerKey.value['#value'] }}</span>
								<span class="secret__value__hidden">
									<i class="fas fa-circle" style="font-size: 14px;"></i>
									<i class="fas fa-circle" style="font-size: 14px;"></i>
									<i class="fas fa-circle" style="font-size: 14px;"></i>
									<i class="fas fa-circle" style="font-size: 14px;"></i>
									<i class="fas fa-circle" style="font-size: 14px;"></i>
									<i class="fas fa-circle mr-2" style="font-size: 14px;"></i>
								</span>

								<div class="secret__copy">
									<span class="badge badge-light">{{ "Copied"|t }}</span>
									<a class="secret__copy" data-value="{{ appCredentials.consumerKey.value['#value'] }}" title="{{ "Click to copy"|t }}">
										<i class="fas fa-paste"></i>
									</a>
								</div>

								<a class="secret__toggle">
									<i class="fas fa-eye secret__toggle__show"></i>
									<i class="fas fa-eye-slash secret__toggle__hide"></i>
								</a>
							</div>
						</div>
					</fieldset>
				</div>
			{% endif %}

			{% if appCredentials.consumerSecret %}
				<div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-3">
					<fieldset class="fieldset-app-consumer-secret">
						{{ appCredentials.consumerSecret.label }}

						<div class="item-property">
							<div class="consumer--secret" data-secret-type="consumerSecret">
								<span class="secret__value">{{ appCredentials.consumerSecret.value['#value'] }}</span>
								<span class="secret__value__hidden">
									<i class="fas fa-circle" style="font-size: 14px;"></i>
									<i class="fas fa-circle" style="font-size: 14px;"></i>
									<i class="fas fa-circle" style="font-size: 14px;"></i>
									<i class="fas fa-circle" style="font-size: 14px;"></i>
									<i class="fas fa-circle" style="font-size: 14px;"></i>
									<i class="fas fa-circle mr-2" style="font-size: 14px;"></i>
								</span>

								<div class="secret__copy">
									<span class="badge badge-light">{{ "Copied"|t }}</span>
									<a class="secret__copy" data-value="{{ appCredentials.consumerSecret.value['#value'] }}" title="{{ "Click to copy"|t }}">
										<i class="fas fa-paste"></i>
									</a>
								</div>

								<a class="secret__toggle">
									<i class="fas fa-eye secret__toggle__show"></i>
									<i class="fas fa-eye-slash secret__toggle__hide"></i>
								</a>
							</div>
						</div>
					</fieldset>
				</div>
			{% endif %}

			{% if appCredentials.issuedAt.value %}
				<div class="d-none d-lg-block col-lg-3 col-xl-4 mb-3">
					<fieldset class="fieldset-app-issued-at">
						{{ appCredentials.issuedAt.label }}

						<div class="item-property">
							{{ appCredentials.issuedAt.value }}
						</div>
					</fieldset>
				</div>
			{% endif %}
		</div>

		<div class="row">
			{% if content.status.0 %}
				<div class="col-12 col-md-6 col-lg-5 col-xl-4 mb-3 mb-lg-0">
					<fieldset class="fieldset-app-status">
						<label>
							{{ content.status['#title'] }}
						</label>

						<div class="item-property">
							{% if content.status.0['#indicator_status'] == 'indicator_status_ok' %}
								<span class="indicator-status-ok text-success">{{ content.status.0['#value']|capitalize }}</span>
							{% elseif content.status.0['#indicator_status'] == 'indicator_status_warning' %}
								<span class="indicator-status-warning text-warning">{{ content.status.0['#value']|capitalize }}</span>
							{% elseif content.status.0['#indicator_status'] == 'indicator_status_error' %}
								<span class="indicator-status-error text-danger">{{ content.status.0['#value']|capitalize }}</span>
							{% endif %}
						</div>
					</fieldset>
				</div>
			{% endif %}

			{% if appCallbackUrl.0 %}
				<div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-3 mb-lg-0">
					<fieldset class="fieldset-app-callback-url">
						<label class="smdp-form-label mb-1">
							{{ appCallbackUrl['#title'] }}
						</label>

						<div class="item-property">
							{{ appCallbackUrl.0 }}
						</div>
					</fieldset>
				</div>
			{% endif %}

			{% if appCredentials.issuedAt.value %}
				<div class="col-12 col-md-6 d-lg-none mb-3">
					<fieldset class="fieldset-app-issued-at">
						{{ appCredentials.issuedAt.label }}

						<div class="item-property">
							{{ appCredentials.issuedAt.value }}
						</div>
					</fieldset>
				</div>
			{% endif %}

			{% if appCredentials.expiresAt.value %}
				<div class="col-12 col-md-6 col-lg-3 col-xl-4">
					<fieldset class="fieldset-app-expires-at">
						{{ appCredentials.expiresAt.label }}

						<div class="item-property">
							{{ appCredentials.expiresAt.value }}
						</div>
					</fieldset>
				</div>
			{% endif %}
		</div>
	</div>

	{% if appProducts.list|length > 0 %}
		<div class="card-footer rounded-0 bg-transparent border-top {{ appProducts['#attributes'].class }} w-100 m-0 px-0">
			{% if appProducts.title %}
				<h5>{{ appProducts.title }}</h5>
				{# <h5>{{ ('Products')|t }}</h5> #}
			{% endif %}

			{% for applist in appProducts.list['#credential_products'] %}
				{% if applist.getStatus()|lower == 'approved' %}
					<span class="api-status api-status-approved">{{ applist.getApiproduct() }}</span>
				{% elseif applist.getStatus()|lower == 'pending' %}
					<span class="api-status api-status-pending">{{ applist.getApiproduct() }}</span>
				{% elseif applist.getStatus()|lower == 'revoked' %}
					<span class="api-status api-status-revoked">{{ applist.getApiproduct() }}</span>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

