{#
/**
 * @file
 * Default theme implementation to display credentials of a developer app.
 *
 * Available variables:
 * - primary_wrapper: Contains general information about the credential.
 * - secondary_wrapper: Contains the list of API products associated with the
 *   credential.
 * - content: All app credential properties. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_app_credential()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('apigee_edge/apigee_edge.app_credential') }}

{%
  set classes = [
    'app-credential',
    'smdp-credential',
  ]
%}

<div {{ attributes.addClass(classes) }}>
  {% if operations %}
    <fieldset class="operations app-details-wrapper">
      <div class="row">
        <div class="col-12 mb-3">
          {{ operations }}
        </div>
      </div>
    </fieldset>
  {% endif %}

  {# {{ operations }} #}
  <fieldset class="{{ primary_wrapper['#attributes'].class }}">
    {% if primary_wrapper.consumerKey or primary_wrapper.consumerSecret or operations %}
      <div class="row">
        {# Consumer Key #}
        {% if primary_wrapper.consumerKey %}
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="wrapper-app-consumer-key">
              {{ primary_wrapper.consumerKey.label }}
            
              <div class="{{ primary_wrapper.consumerKey['#attributes'].class }}">
                <div class="consumer--secret" data-secret-type="consumerKey">
                  <span class="secret__value">{{ primary_wrapper.consumerKey.value['#value'] }}</span>
                  <span class="secret__value__hidden">
                    <i class="fas fa-circle" style="font-size: 14px;"></i>
                    <i class="fas fa-circle" style="font-size: 14px;"></i>
                    <i class="fas fa-circle" style="font-size: 14px;"></i>
                    <i class="fas fa-circle" style="font-size: 14px;"></i>
                    <i class="fas fa-circle" style="font-size: 14px;"></i>
                    <i class="fas fa-circle mr-2" style="font-size: 14px;"></i>
                  </span>

                  <div class="secret__copy">
                    <span class="badge badge-light">{{ "Copied"|t }}</span>
                    <a class="secret__copy" data-value="{{ primary_wrapper.consumerKey.value['#value'] }}" title="{{ "Click to copy"|t }}">
                      <i class="fas fa-paste"></i>
                    </a>
                  </div>

                  <a class="secret__toggle">
                    <i class="fas fa-eye secret__toggle__show"></i>
                    <i class="fas fa-eye-slash secret__toggle__hide"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {# Consumer Secret #}
        {% if primary_wrapper.consumerSecret %}
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="wrapper-app-consumer-secret">
              {{ primary_wrapper.consumerSecret.label }}

              <div class="{{ primary_wrapper.consumerSecret['#attributes'].class }}">
                <div class="consumer--secret" data-secret-type="consumerSecret">
                  <span class="secret__value">{{ primary_wrapper.consumerSecret.value['#value'] }}</span>
                  <span class="secret__value__hidden">
                    <i class="fas fa-circle" style="font-size: 14px;"></i>
                    <i class="fas fa-circle" style="font-size: 14px;"></i>
                    <i class="fas fa-circle" style="font-size: 14px;"></i>
                    <i class="fas fa-circle" style="font-size: 14px;"></i>
                    <i class="fas fa-circle" style="font-size: 14px;"></i>
                    <i class="fas fa-circle mr-2" style="font-size: 14px;"></i>
                  </span>

                  <div class="secret__copy">
                    <span class="badge badge-light">{{ "Copied"|t }}</span>
                    <a class="secret__copy" data-value="{{ primary_wrapper.consumerSecret.value['#value'] }}" title="{{ "Click to copy"|t }}">
                      <i class="fas fa-paste"></i>
                    </a>
                  </div>

                  <a class="secret__toggle">
                    <i class="fas fa-eye secret__toggle__show"></i>
                    <i class="fas fa-eye-slash secret__toggle__hide"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
    
    {% if primary_wrapper.issuedAt or primary_wrapper.expiresAt or primary_wrapper.status %}
      <div class="row">
        {% if primary_wrapper.issuedAt %}
          <div class="col-4 col-sm-4 mb-3">
            <div class="wrapper-appcre-issued-at">
              {{ primary_wrapper.issuedAt.label }}

              <div class="{{ primary_wrapper.issuedAt['#attributes'].class }}">
                {{ primary_wrapper.issuedAt.value }}
              </div>
            </div>
          </div>
        {% endif %}

        {% if primary_wrapper.expiresAt %}
          <div class="col-4 col-sm-4 mb-3">
            <div class="wrapper-appcre-expires-at">
              {{ primary_wrapper.expiresAt.label }}

              <div class="{{ primary_wrapper.expiresAt['#attributes'].class }}">
                {{ primary_wrapper.expiresAt.value }}
              </div>
            </div>
          </div>
        {% endif %}

        {% if primary_wrapper.status %}
          <div class="col-4 dcol-sm-4 mb-3">
            <div class="wrapper-appcre-issued-at">
              {{ primary_wrapper.status.label }}

              <div class="{{ primary_wrapper.status['#attributes'].class }}">
                {{ primary_wrapper.status.value }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
  </fieldset>

  <fieldset class="{{ secondary_wrapper['#attributes']['class'] }} app-details-wrapper">
    {% if secondary_wrapper.list %}
      <div class="row">
        <div class="col-12">
          <div class="wrapper-app-api-productds">
            {{ secondary_wrapper.title }}

            <div class="item-property">
              {% for applist in secondary_wrapper.list['#credential_products'] %}
                {% if applist.getStatus()|lower == 'approved' or applist.getStatus()|lower == 'active' %} 
                  <span class="api-status api-status-approved">{{ applist.getApiproduct() }}</span>
                {% elseif applist.getStatus()|lower == 'pending' or applist.getStatus()|lower == 'expired' %}
                  <span class="api-status api-status-pending">{{ applist.getApiproduct() }}</span>
                {% elseif applist.getStatus()|lower == 'revoked' %}
                  <span class="api-status api-status-revoked">{{ applist.getApiproduct() }}</span>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </fieldset>
</div>
<hr class="mt-0 dashed">
