{% extends 'form.html.twig' %}

{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% block form_contents %}
	{{ element.displayName }}
	{{ element.name }}
	{{ element.form_build_id }}
	{{ element.form_token }}
	{{ element.form_id }}
	{{ element.field_team_description }}

	<div data-drupal-selector="{{ element.actions['#attributes']['data-drupal-selector'] }}" id="{{ element.actions['#id'] }}" class="form-actions js-form-wrapper form-group d-md-flex align-items-md-center">
		{{ element.actions.submit }}
		<a href="{{ path('entity.team.collection') }}" class="btn btn-secondary">
			{{ ('Back')|t }}
		</a>
	</div>
{% endblock %}
