{% set color_hexa = content.field_foreground_color[0]['#markup'] | split(' ',2)[0] %}
{% set color_opacity = content.field_foreground_color[0]['#markup'] | split(' ',2)[1] %}
<section class="img-with-action section">
    <div class="container wrapper-sm p-b-0">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 img-col-bg1">
          <img src="{{ file_url(content.field_service_banner_image_left.0['#item'].entity.uri.value) }}" alt="blured_img">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 n-m-r-md">
          <div class="row set-margin">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <p style="{% if content.field_foreground_color[0]['#markup'] %} color: {{ color_hexa }}!important;opacity: {{ color_opacity }} {% endif %}">{{ content.field_hero_title[0] }}</p>
              <h1 style="{% if content.field_foreground_color[0]['#markup'] %} color: {{ color_hexa }}!important;opacity: {{ color_opacity }} {% endif %}">{{ content.field_title[0] }}</h1>
              <hr class="set-how-right">
              <p style="{% if content.field_foreground_color[0]['#markup'] %} color: {{ color_hexa }}!important;opacity: {{ color_opacity }} {% endif %}">{{ content.field_description[0] }}</p>
              <br>
            </div>
          </div>
          {{ content.field_services_boxes }}
        </div>
      </div><!-- /End Row-->
    </div><!-- /End Container-->
</section>