<div class="tab-pane fade pt-9 {% if paragraph.index == 0 %}show active{% endif %}" id="{% if paragraph.index == 0 %}one{% endif %}{% if paragraph.index == 1 %}two{% endif %}{% if paragraph.index == 2 %}three{% endif %}{% if paragraph.index == 3 %}four{% endif %}" role="tabpanel" aria-labelledby="{% if paragraph.index == 0 %}one{% endif %}{% if paragraph.index == 1 %}two{% endif %}{% if paragraph.index == 2 %}three{% endif %}{% if paragraph.index == 3 %}four{% endif %}-tab">
      <!-- Mockup Block -->
      <div class="row justify-content-lg-between align-items-lg-center">
        <div class="col-lg-4 mr-bt mb-lg-0">
          <!-- Info -->
          <div class="mr-btm-title">
            <h3 class="font-wt-bold ft-style">{{ content.field_title[0] }}</h3>
            <p class="ft-style">{{ content.field_description[0] }}</p>
          </div>

          {{ content.field_description_cta[0] }}
          <!-- End Info -->
        </div>

        <div class="col-lg-7 position-relative z-idx-0">
          <div class="pl-md-9">
            <img class="img-fluid shadow1 rounded1" src="{{ file_url(content.field_banner_right_image.0['#item'].entity.uri.value) }}" alt="Image Description">
          </div>

          <!-- SVG Component -->
          <div class="position-absolute btm w-75 z-idx">
            <figure>
              <img class="info3-bg-img" src="{{ file_url(content.field_banner_bg_img.0['#item'].entity.uri.value) }}" alt="Image Description">
            </figure>
          </div>
          <!-- End SVG Component -->
        </div>
      </div>
      <!-- End Mockup Block -->
</div>