{% set color_hexa = content.field_foreground_color_latest_po[0]['#markup'] | split(' ',2)[0] %}
{% set color_opacity = content.field_foreground_color_latest_po[0]['#markup'] | split(' ',2)[1] %}
<div class="col-md-12 col-lg-4 latest_post">
  <div class="card mb-4">
    <img class="card-img-top" src="{{ file_url(content.field_post_img.0['#item'].entity.uri.value) }}" alt="Card image cap">
    <div class="card-body">
      <h4 style="{% if content.field_foreground_color_latest_po[0]['#markup'] %} color: {{ color_hexa }}!important;opacity: {{ color_opacity }} {% endif %}" class="card-title">{{ content.field_cta_title[0] }}</h4>
      <p style="{% if content.field_foreground_color_latest_po[0]['#markup'] %} color: {{ color_hexa }}!important;opacity: {{ color_opacity }} {% endif %}" class="card-text">{{ content.field_description[0] }}</p>
      <a class="btn btn-primary btn-pill" href="{{ content.field_button[0]['#url'] }}">{{ content.field_button[0]['#title'] }} &rarr;</a>
    </div>
  </div>
</div>
