{% set color_hexa = content.field_foreground_color_info[0]['#markup'] | split(' ',2)[0] %}
{% set color_opacity = content.field_foreground_color_info[0]['#markup'] | split(' ',2)[1] %}
<div class="col-md-6 col-lg-5 margin-btm">
    <!-- Icon Blocks -->
    <div class="md-flex setting-right-content">

        <img src="{{ file_url(content.field_info1_icon_image.0['#item'].entity.uri.value) }}" alt="info2 icon">

      <div class="media-body">
        <h3 class="main-title" {% if content.field_foreground_color_info[0]['#markup'] %}style="color: {{ color_hexa }}!important;opacity: {{ color_opacity }}"{% endif %} >{{ content.field_title[0] }}</h3>
        <p class="mb-1" {% if content.field_foreground_color_info[0]['#markup'] %}style="color: {{ color_hexa }}!important;opacity: {{ color_opacity }}"{% endif %}>{{ content.field_description[0] }}</p>
        <a class="set-font-size" href="{{ content.field_button[0]['#url'] }}">{{ content.field_button[0]['#title'] }}<span class="fas fa-angle-right align-middle ml-2"></span></a>
      </div>
    </div>
    <!-- End Icon Blocks -->
</div>