<!-- CTA 1 -->
<div class="bg-img-bitcoin section_margin cta1 gradient-overlay-half-primary-v1" {% if content.field_cta_background_image.0['#item'].entity.uri.value %} style="background: url({{ file_url(content.field_cta_background_image.0['#item'].entity.uri.value) }});"{% endif %}>
  <div class="container con-space">
    <div class="row align-items-md-center">
      <div class="col-md-8 mb-7 mb-md-0">
        <!-- Content -->
        <div class="media1">
          <span class="btn btn-lg btn-biticon btn-light rounded-bitcircle mr-4">
            <span class="fab fa-bitcoin btn-icon__inner"></span>
          </span>
          <div class="media-body">
            <h2 class="font-weight-semi-bold">{{ content.field_cta_title[0] }}</h2>
            {{ content.field_description_cta[0] }}
          </div>
        </div>
        <!-- End Content -->
      </div>

      <div class="col-md-4 text-md-right">
        <!-- Button Link -->
        <a class="btn btn-warning" href="{{ content.field_button[0]['#url'] }}">
          {{ content.field_button_title[0] }}
          <span class="fas fa-angle-right ml-2"></span>
        </a>
        <!-- End Button Link -->
      </div>
    </div>
  </div>
</div>
<!-- End CTA1 -->

{% set color_hexa = content.field_foreground_color[0]['#markup'] | split(' ',2)[0] %}
{% set color_opacity = content.field_foreground_color[0]['#markup'] | split(' ',2)[1] %}

<style type="text/css">

  .cta1 .media1 ,.cta1 .media1 h2{
      {% if content.field_foreground_color[0]['#markup'] %} color: {{ color_hexa }}!important;opacity: {{ color_opacity }} {% endif %}
  }

  .cta1 .btn-warning {
      border: none;
  }

</style>