{% set color_hexa = content.field_foreground_color_info[0]['#markup'] | split(' ',2)[0] %}
{% set color_opacity = content.field_foreground_color_info[0]['#markup'] | split(' ',2)[1] %}
<!-- Card -->
    <div class="card set-card-border text-center mb-4 mb-md-0" {% if content.field_banner_bg_img.0['#item'].entity.uri.value %} style="background: url({{ file_url(content.field_banner_bg_img.0['#item'].entity.uri.value) }}) no-repeat center; background-size: cover;"{% endif %}>
      <div class="card-body sp-t">
        <div class="mb-4 set-fig-img">
          <figure class="w-100 max-width mx-auto mb-3">
            <img src="{{ file_url(content.field_info1_icon_image.0['#item'].entity.uri.value) }}">
          </figure>
          <h3 {% if content.field_foreground_color_info[0]['#markup'] %}style="color: {{ color_hexa }}!important;opacity: {{ color_opacity }}"{% endif %} class="set-front-title">{{ content.field_title[0] }}</h3>
          <p {% if content.field_foreground_color_info[0]['#markup'] %}style="color: {{ color_hexa }}!important;opacity: {{ color_opacity }}"{% endif %}>{{ content.field_description[0] }}</p>
        </div>
        <a class="btn btn-size btn-primary btn-wide1 transition-3d-hover" href="{{ content.field_button[0]['#url'] }}">{{ content.field_button_title[0] }}</a>
      </div>
    </div> 
<!-- End Card -->