{% set color_hexa = content.field_foreground_color_info[0]['#markup'] | split(' ',2)[0] %}
{% set color_opacity = content.field_foreground_color_info[0]['#markup'] | split(' ',2)[1] %}
<!-- Card -->
<div class="card card-shadow mb-3">
  <div class="card-collapse1" id="Heading{{ paragraph.index }}">
    <h5 class="mb-0 column-1">
      <button {% if content.field_foreground_color_info[0]['#markup'] %}style="color: {{ color_hexa }}!important;opacity: {{ color_opacity }}"{% endif %} class="btn btn-faqs btn-size btn-link1 btn-block d-flex justify-desc-between card-btn1 p-3 collapsed"
              data-toggle="collapse"
              data-target="#Collapse{{ paragraph.index }}"
              aria-expanded="true"
              aria-controls="Collapse{{ paragraph.index }}">
        {{ content.field_title[0] }}
        <span class="btn-arrow">
          <span class="fas fa-arrow-down small"></span>
        </span>
      </button>
    </h5>
  </div>
  <div id="Collapse{{ paragraph.index }}" class="collapse {% if paragraph.index == 0 %}show{% endif %} "
       aria-labelledby="Heading{{ paragraph.index }}"
       data-parent="#basicsAccordion1">
    <div class="card-body" {% if content.field_foreground_color_info[0]['#markup'] %}style="color: {{ color_hexa }}!important;opacity: {{ color_opacity }}"{% endif %}>
      {{ content.field_description[0] }}
    </div>
  </div>
</div>
<!-- End Card -->
    