<nav{{ navbar_attributes }} class="navbar fixed-top navbar-expand-lg px-0">
     {% if container_navbar %}
          <div class="container">
    {% endif %}
        {{ page.logo }}
        
        <button class="navbar-toggler nav_btn" onclick="header_responsive()" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse menu-margin top-menu1" id="navbarNavDropdown">
            {% if page.primary_menu %}

                {{ page.primary_menu }}

            {% endif %}
            {% if page.search_area %}
	        
            {% endif %}
         
           <ul class="navbar-nav ml-auto">
		{% if page.search_area %}
		<li class="nav-item search_button">
		  <div id="search_area" class="ml-auto">{{ page.search_area }}</div>
		</li>
                {% endif %}
                {% if user %}
                    <li class="nav-item mr-2">
                      <a class="btn btn-signup" href="{{ base_path }}/user/logout">{{ 'Logout'|t }}</a>
                    </li>
                {% else %}
                    <li class="nav-item mr-2">
                      <a class="btn btn-login" href="{{ base_path }}/user/login">{{ 'Login'|t }}</a>
                    </li>
                    <li class="nav-item mr-2">
                      <a class="btn btn-signup" href="{{ base_path }}/user/register">{{ 'Sign Up'|t }}</a>
                    </li> 
                {% endif %}
           </ul>

        </div>
      {% if container_navbar %}
        </div>
      {% endif %}
</nav>